<!DOCTYPE html>
<html>
<head>
  <title>AtlobApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="top">

    <nav class="navbar navbar-default " >
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/"><h1>Yala Notlob</h1></a>

        </div>
        <%if user_signed_in? %>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">


            <li class="<%= params[:controller]== 'usgroups' ? 'active' : '' %>"><%= link_to "Home",usgroups_path %></li>

            <li class="<%= params[:controller]== 'friendships' ? 'active' : '' %>"><%= link_to "Friends",user_friendships_path(current_user.id) %></li>
        

             <li class="<%= params[:controller]== 'groups' ? 'active' : '' %>"><%= link_to "Groups",user_groups_path(current_user.id) %></li>


            <li class="<%= params[:controller]== 'orders' ? 'active' : '' %>"><%= link_to "Orders",orders_path %></li>

          </ul>

          <ul class="nav navbar-nav navbar-right">




            <li class="nav-item btn-group dropdown" data-behavior="notifications" >

                <a class="dropdown-toggle nav-link" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-behavior="notifications-link">

                  <i class="glyphicon glyphicon-bell"></i>
                  <span id="rounded" data-behavior="unread-count"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="notify" data-behavior="notification-items">                  
                </ul>
              

            </li>

            <li><img class="img-circle" alt="no image" width="50" height="50" src="<%= current_user.avatar %>" /></li>
            <li><a href="#"><%= current_user.name %></a></li>
            <li><%= link_to 'Logout', destroy_user_session_path ,method: :delete %></li>

          </ul>



        </div><!--/.nav-collapse -->
        <% end %>
      </div>
    </nav>


    <section id="middle">
      <div class="container" >
      	<div ></div>

        <div class="row">

          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

 

    	<%= yield %>



          </div>

        </div>
      </div>
    </section>

    <footer id="foot">
      <p>Copyright &copy; 2016, Yalla Notlob </p>
    </footer>



</body>
</html>
